<html xmlns:th="http://www.thymeleaf.org">

<script th:fragment="base" type="text/javascript" th:inline="javascript">var contextPath = [[@{/}]];</script>

<link   th:fragment="base" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>


<script th:fragment="base" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:fragment="base" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script th:fragment="base" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>



<link   th:fragment="common" th:replace="::base"></link>

<link   th:fragment="common" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script th:fragment="common" type="text/javascript" src="http://cdn.staticfile.org/artTemplate.js/3.0.1/template.js"></script>
<link   th:fragment="common" rel="stylesheet" th:href="@{/static/common/common-0.1.0.css?v1}"/>
<script th:fragment="common" type="text/javascript" th:src="@{/static/common/common-0.1.0.js?v1}"></script>









<!-- 分页列表 -->
<div th:fragment="pageList(title)" class="page-list-body">
	<div class="page-list-query">
    	<div class="page-list-title"><span class="glyphicon glyphicon-th-list"></span><span th:text="${title}"></span></div>
		<form id="queryForm" class="form-inline">
		<input type="hidden" id="pageSize" name="pageSize" value="15">
		<input type="hidden" id="pageNumber" name="pageNumber">
		<input type="hidden" id="orderName" name="orderName">
		<input type="hidden" id="orderType" name="orderType">
		<div th:include="::query"></div>
		</form>
	</div>
	
	<table id="pageTable" class="page-list-table table table-bordered table-condensed" th:include="::list"></table>
	
	<ul class="pagination">
	    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
	    <li class="page-item"><a class="page-link" href="#">1</a></li>
	    <li class="page-item active"><a class="page-link" href="#">2</a></li>
	    <li class="page-item"><a class="page-link" href="#">3</a></li>
	    <li class="page-item"><a class="page-link" href="#">Next</a></li>
	    
	    <li class="page-item">
	    	<select class="form-control" style="height:34px;" onchange="$('#pageSize').val(this.value);queryPage(1)">		        
				<option value="15">15条</option><option value="25">25条</option><option value="50">50条</option>
			</select>
		</li>
		
		<li class="page-item"><span style="padding:.5rem .75rem;display: block;">共<b id="totalRows">-</b>条记录</a> </span>
  	</ul>
  	
  	
	
	<nav class="page-list-footer" style="display: none;">
		<ul id="pageNumUL" class="pagination pull-left pagination-sm"></ul>
	    <div class="page-list-footer-msg">
		<div class="col-xs-1 input-group-sm">
		<select onchange="$('#pageSize').val(this.value);queryPage(1)" class="form-control">		        
			<option value="15">15条</option><option value="25">25条</option><option value="50">50条</option>
		</select>
		</div>
		<div>共<b id="totalRows">-</b>条记录</div>
		</div>
	</nav>
</div>





































