<html xmlns:th="http://www.thymeleaf.org">

<script th:fragment="base" type="text/javascript" th:inline="javascript">var contextPath = [[@{/}]];</script>

<link   th:fragment="base" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>


<script th:fragment="base" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:fragment="base" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script th:fragment="base" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>



<link   th:fragment="common" th:replace="::base"></link>

<link   th:fragment="common" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script th:fragment="common" type="text/javascript" src="http://cdn.staticfile.org/artTemplate.js/3.0.1/template.js"></script>
<link   th:fragment="common" rel="stylesheet" th:href="@{/static/common/common-0.1.0.css?v1}"/>
<script th:fragment="common" type="text/javascript" th:src="@{/static/common/common-0.1.0.js?v1}"></script>




<!-- 分页 -->
<div th:fragment="page(title)">
	<form>
	<input type="hidden" name="pageNumber">
	<input type="hidden" name="orderName">
	<input type="hidden" name="orderType">
	<div class="p-2 form-inline">
		<h6 class="form-check-label"><i class="fa fa-list"></i><span th:text="${title}"></span></h6>
		<div th:include="::query" class="input-group-sm"></div>
	</div>
	<table id="pageTable" class="table table-bordered table-hover table-sm" th:include="::list"></table>
	<ul class="pagination float-left pagination-sm" style="display: none;"></ul>
  	<ul class="pagination pagination-sm" style="display: none;">
  		<li class="page-item input-group-sm">
	    	<select class="form-control" name="pageSize">        
				<option value="2">2条</option><option value="3">3条</option><option value="50">50条</option>
			</select>
		</li>
		<li class="page-item" style="padding: .25rem .5rem"><label>共<b id="totalRows">-</b>条记录</label></li>
  	</ul>
  	</form>
  	<script id="pageTemplate" type="text/html"></script>
</div>

































