<html xmlns:th="http://www.thymeleaf.org">

<script th:fragment="monitor" type="text/javascript" th:src="@{/static/monitor/echarts-gauge-3.7.2.min.js}"></script>
<script th:fragment="monitor" type="text/javascript" th:src="@{/static/monitor/formatter.js}"></script>




<div th:fragment="nav(id)">
<ul class="nav nav-tabs">
<!--
    <li class="nav-item"><a class="nav-link" id="service" th:href="@{/auto/monitorView/service}">服务</a></li>
    <li class="nav-item"><a class="nav-link" id="start"  th:href="@{/auto/monitorView/start}">启动日志</a></li>
    <li class="nav-item"><a class="nav-link" id="access"  th:href="@{/auto/monitorView/access}">访问日志</a></li>
    <li class="nav-item"><a class="nav-link" id="error"  th:href="@{/auto/monitorView/error}">error</a></li>
    <li class="nav-item"><a class="nav-link" id="gather"  th:href="@{/auto/monitorView/gather}">gather</a></li>
      -->
      
      <li class="nav-item"><a class="nav-link" id="statUri"  th:href="@{/auto/monitorView/statUri}">statUri</a></li>
    
</ul>
<script type="text/javascript" th:inline="javascript">$("#" + [[${id}]]).addClass("active");</script>
</div>



<div th:fragment="viewDetail" class="modal fade" id="viewDetail" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header"><h5 class="modal-title">详情</h5><button type="button" class="close" data-dismiss="modal">&times;</button></div>
		<div class="modal-body">
         	<div class="form-group" style="width:100%;height:450px"><pre id="viewDetailJson" style="height:450px"></pre></div>
		</div>
	</div>
	</div>
</div>
</html>


