<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:replace="common/fragment::common"/>
<link th:replace="monitor/monitorFragment::monitor"/>

<script type="text/javascript" th:inline="javascript">
var controllerPath = contextPath + "auto/monitor/";
$(function() {
	$("#pageDiv").page({url:controllerPath + "listError", data:[[${list}]]});
});


function viewDetail(accessId) {
	
	showLoading();
	$.post(controllerPath + "getError", {accessId:accessId}, function(r) {
		hideLoading();
		$("#viewDetailJson").text(formatJson(JSON.stringify(r)));
		$("#viewDetail").modal("show");
		
	});
	
}

</script>
</head>

<body>
<div class="container">


<div th:replace="monitor/monitorFragment::nav('error')"></div>

<div id="pageDiv" th:include="common/fragment::page('')">
	<div th:fragment="query">
		<label>服务:</label>
		<select class="form-control input-sm" name="serviceId">
			<option value="">全部</option>
			<option th:value="${item.serviceId}" th:text="${item.serviceId}" th:each="item:${listService}"></option>
		</select>
		<label>日期:</label>		
		<input type="text" class="form-control input-sm" name="date" th:value="${date}" onclick="WdatePicker()" style="width:90px">			
	    <input type="text" class="form-control input-sm" name="beginTime" placeholder="开始时分秒" onclick="WdatePicker({dateFmt:'HH:mm:ss'})" style="width:90px">-<input type="text" class="form-control input-sm" name="endTime" placeholder="结束时分秒" onclick="WdatePicker({dateFmt:'HH:mm:ss'})" style="width:90px">	
		<label>URI:</label><input type="text" class="form-control input-sm" name="uri" placeholder="全匹配URI">
		<label>标记:</label><input type="text" class="form-control input-sm" name="marker" style="width:90px">
		<button type="button" class="btn btn-default btn-sm"><i class="fa fa-search"></i>搜索</button>
	</div>
	<table th:fragment="list">
		<thead class="thead-light">
		<tr>
			<th class="w-id">服务</th>
			<th class="w-id">访问时间</th>
			<th class="w-id">URI</th>
			<th class="w-id">queryString</th>
			<th class="w-id">异常代码</th>
			<th class="w-id">异常message</th>
			<th class="w-id">操作</th>
		</tr>
		</thead>
		<tbody></tbody>
	</table>
	<table>
		<tr th:fragment="template">
			<td>{{v.serviceId}}</td>
			<td>{{v.errorTime}}</td>
			<td>{{v.uriText}}</td>
			<td>{{v.accessInfo.q}}</td>
			<td>{{v.errorCode}}</td>
			<td>{{v.errorMsg}}</td>
			<td>
				<a href="#" onclick="viewDetail('{{v.accessId}}')">详情</a>
			</td>
		</tr>
	</table>
</div>

<div th:replace="monitor/monitorFragment::viewDetail"></div>

</div>
</body>
</html>

