<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment::common"/>
<link th:replace="auth/authFragment::treeview"/>
<script type="text/javascript" th:src="@{/static/auth/console/grant.js}"></script>

<style>
.fa-folder {color:rgb(242, 221, 122)}
.fa-file {color:black;}
.fa-cogs {color:green}
#uri .list-group-item {background-color: #428bca;}
#tree .list-group-item, #uri .list-group-item {padding:3px 8px}
.indeterminate {color:blue;}
</style>

<script th:inline="javascript">

var controllerPath = contextPath + "auto/child/";

$(function() {
	$("#pageDiv").page({url:controllerPath + "listChildAccount", data:[[${list}]]});
});

</script>
</head>

<body>
<div class="container-fluid">

<div id="pageDiv" th:include="common/fragment::page('子账号权限')">
<div th:fragment="query">
	<label>子帐号ID:</label>	
	<input type="text" class="form-control input-sm" name="accountId" placeholder="请输入子帐号ID" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
	<label>子帐号:</label>		
	<input type="text" class="form-control input-sm" name="loginAccount" placeholder="请输入子帐号">			
	<button type="button" class="btn btn-default btn-sm"><span class="fa fa-search"></span>搜索</button>		
</div>
<table th:fragment="list">
	<thead class="thead-light">
	<tr>
		<th class="w-id">子帐号ID</th>
		<th class="w-id">子帐号</th>
		<th class="w-action">操作</th>                
	</tr>
	</thead>
	<tbody></tbody>
</table>
<table>
	<tr th:fragment="template">
 		<td>{{v.accountId}}</td>
 		<td>{{v.loginAccount}}</td>
 		<td><a href="#" onclick="grant('{{v.accountId}}', '{{v.loginAccount}}')">授权</a></td>
	</tr>
	</table>
</div>

<div id="grantModal" class="modal fade" data-backdrop="static" data-keyboard="false">
<!--size:modal-sm 无 modal-lg -->
<div class="modal-dialog">
<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title">授权(子帐号：<span id="grantViewName"></span>)<input type="hidden" id="grantAccountId"></h5>
		<button type="button" class="close" data-dismiss="modal">&times;</button>
	</div>
      	<div class="modal-body" style="width:100%;height:400px;overflow:auto;float:left;padding-top:4px">
		<div id="tree" style="float:left"></div>
	</div>   
	<div class="modal-footer">
		<span style="float:left">
			<span class="glyphicon glyphicon-folder-close"></span>:<span id="viewFolderN">0</span>
			<span class="glyphicon glyphicon-th-list"></span>:<span id="viewMenuN">0</span>
			<span class="glyphicon glyphicon-wrench"></span>:<span id="viewActionN">0</span>
       	</span>
       	<button type="button" class="btn btn-success" onclick="authorize()">确定</button>
       	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	</div>
</div>
</div>
</div>

</div>
</body>
</html>

