<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<meta charset="UTF-8">
<link th:replace="common/fragment::common"/>


<script type="text/javascript" th:inline="javascript">

$(function() {
	$("#pageDiv").page({url:contextPath + "auto/authUser/listJson", data:[[${list}]]});
});


function add() {
	$('#addForm')[0].reset();
	$('#add').modal('show');
	
	action = function() {
		if (!$("#addForm").valid()) return;
		showLoading();
		$.post([[@{/auto/authUser/insertAuthUser}]], $("#addForm").serialize(), function(r) {
			if (r.result == 1) {
				$("#pageDiv").query();
				$('#add').modal('hide');
				alertSuccess();
			}
			else if (r.result == -1) {
				alertWarning("用户帐号已经存在！");
				hideLoading();
			}
			else if (r.result == -2) {
				alertWarning("用户名称已经存在！");
				hideLoading();
			}
		});
	} 
}

function editName(id) {
	showLoading();
	$.post([[@{/auto/authUser/getAuthUser}]], {id:id}, function(r) {
		hideLoading();
		$('#editName').modal('show');
		$("#editNameTemplate").nextAll().remove();
		$("#editNameTemplate").parent().append(template("editNameTemplate", r));
	});
	
	action = function() {
		if (!$("#editNameForm").valid()) return;
		showLoading();
		$.post([[@{/auto/authUser/updateAuthUser}]], $("#editNameForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#editName').modal('hide');
				$("#pageDiv").query();
				alertSuccess();
			}
			else if (r.result == 0) {
				alertWarning("用户名称已经存在！");
				hideLoading();
			}
		});
	}
}

function editAccount(id) {
	showLoading();
	$.post([[@{/auto/authUser/getAuthAccount}]], "id=" + id, function(r) {
		hideLoading();
		$('#editAccount').modal('show');
		$("#editAccountTemplate").nextAll().remove();
		$("#editAccountTemplate").parent().append(template("editAccountTemplate", r));
	});
	
	action = function() {
		if (!$("#editAccountForm").valid()) return;
		showLoading();
		$.post([[@{/auto/authUser/updateAuthAccount}]], $("#editAccountForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#editAccount').modal('hide');
				$("#pageDiv").query();
				alertSuccess();
			}
			else if (r.result == 0) {
				alertWarning("用户帐号已经存在！");
				hideLoading();
			}
		});
	}
}

function editPassword(id) {
	showLoading();
	$.post([[@{/auto/authUser/getAuthUser}]], {id:id}, function(r) {
		hideLoading();
		$('#editPassword').modal('show');
		$("#editPasswordTemplate").nextAll().remove();
		$("#editPasswordTemplate").parent().append(template("editPasswordTemplate", r));
	});
	
	action = function() {
		if (!$("#editPasswordForm").valid()) return;
		showLoading();
		$.post([[@{/auto/authUser/updateAuthUserPassword}]], $("#editPasswordForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#editPassword').modal('hide');
				$("#pageDiv").query();
				alertSuccess();
			}
		});
	}
}

function remove(obj, id) {
	var userName = $(obj).attr("data-user-name");
	$("#showUserName").text(userName);
	$('#delete').modal('show');
	
	action = function() {
		if ($("#deleteUserName").val() != userName) {
			alertWarning("用户名称不正确");
			return;
		}
		showLoading();
		$.post([[@{/auto/authUser/deleteAuthUser}]], "id=" + id, function(r) {
			if (r.result == 1) {
				$('#delete').modal('hide');
				$("#pageDiv").query();
			}
		});	
	}
}

function validatePassword(field, rules, i, options) {
	// 最少八位且包含字母和数字
	var passwordRegex = new RegExp("^(?=.{8,})(?=.*[A-Z|a-z])", "g");
	if (!passwordRegex.test(field.val())) {
		return "最少八位且包含字母和数字";
	}
}

template.helper('getAccountStatus', function(v) {
	if (v == 1) return '正常';
	else if (v == 2) return '禁用';
	else return '';
})


function disable(obj, id) {
	var userName = $(obj).attr("data-user-name");
	confirm("确定禁用'" + userName + "'?", function() {
		showLoading();
		$.post([[@{/auto/authUser/disable}]], {id:id}, function(r) {
			r.result === SUCCESS ? $("#pageDiv").query() : alertDanger("error return");
		});
	});
}

function enable(obj, id) {
	var userName = $(obj).attr("data-user-name");
	confirm("确定解禁'" + userName + "''?", function() {
		showLoading();
		$.post([[@{/auto/authUser/enable}]], {id:id}, function(r) {
			r.result === SUCCESS ? $("#pageDiv").query() : alertDanger("error return");
		});
	});
}
</script>
</head>

<body>

<div class="">

<div id="pageDiv" th:include="common/fragment::page('用户管理')">
	<div th:fragment="query">
		<button type="button" class="btn btn-success btn-sm" onclick="add()">新增</button>
		<label>名称：</label>
		<input type="text" class="form-control input-sm" name="userName" placeholder="用户名称" style="width:200px;">
		<button type="button" class="btn btn-default btn-sm"><i class="fa fa-search"></i>搜索</button>
	</div>
	<table th:fragment="list">
		<thead class="thead-light">
		<tr>
			<th class="w-id">用户ID</th>
			<th class="w-id">用户名称</th> 
			<th class="w-id">用户账号</th> 
			<th class="w-id">用户状态</th>
			<th class="w-action">操作</th>
		</tr>
		</thead>
		<tbody></tbody>
	</table>
	<table>
		<tr th:fragment="template">
			<td>{{v.userId}}</td>
			<td class="w-id">{{v.userName}}</td>
		 	<td class="w-id">{{v.loginAccount}}</td>
			<td class="w-id">
				{{getAccountStatus(v.accountStatus)}}
				{{if v.accountStatus == 1}}
				<a href="#" onclick="disable(this, '{{v.userId}}')" data-user-name="{{v.userName}}">[禁用]</a>
				{{/if}}
				{{if v.accountStatus == 2}}
				<a href="#" onclick="enable(this, '{{v.userId}}')" data-user-name="{{v.userName}}">[解禁]</a>
				{{/if}}
			</td>
			<td class="w-action">
				<a href="#" onclick="remove(this, '{{v.userId}}')" data-user-name="{{v.userName}}">[删除]</a>&nbsp;&nbsp;
				<a href="#" onclick="editName('{{v.userId}}')">[修改名称]</a>&nbsp;&nbsp;
				<a href="#" onclick="editAccount('{{v.userId}}')">[修改帐号]</a>&nbsp;&nbsp;
				<a href="#" onclick="editPassword('{{v.userId}}')">[修改密码]</a>
			</td>
		</tr>
	</table>
</div>


<div th:fragment="add" th:replace="common/fragment::modal('add', '新增', '')">
	<div class="form-group form-inline">
		<label class="col-sm-4 control-label"><span class="required">*</span>用户名称 ：</label>
		<div class="col-sm-8"><input type="text" name="userName" class="form-control" required maxlength="32"></div>
	</div>
	<div class="form-group form-inline">
		<label class="col-sm-4 control-label"><span class="required">*</span>用户帐号：</label>
		<div class="col-sm-8"><input type="text" name="loginAccount" class="form-control" required maxlength="32"></div>
	</div>
	<div class="form-group form-inline">
		<label class="col-sm-4 control-label"><span class="required">*</span>用户密码：</label>
		<div class="col-sm-8"><input type="password" name="loginPassword" class="form-control" required maxlength="32"></div>
	</div>
	<div class="form-group form-inline">
		<label class="col-sm-4"></label>
		<span class="col-sm-8 label label-default">密码最少八位且包含字母和数字</span>
	</div>
</div>

<div th:fragment="editName" th:replace="common/fragment::modalTemplate('editName', '修改用户名称', '')">
	<div class="form-group form-inline">
		<label class="col-sm-4 control-label">用户ID：</label>
		<div class="col-sm-8"><input type="text" name="userId" value="{{authUser.userId}}" class="form-control" readonly></div>
	</div>
	<div class="form-group form-inline">
		<label class="col-sm-4 control-label"><span class="required">*</span>用户名称：</label>
		<div class="col-sm-8"><input type="text" name="userName" value="{{authUser.userName}}" class="form-control" required maxlength="32"></div>
	</div>
</div>

<div th:fragment="editAccount" th:replace="common/fragment::modalTemplate('editAccount', '修改用户账号', '')">
	<div class="form-group form-inline">
		<label class="col-sm-4 control-label">用户ID：</label>
		<div class="col-sm-8"><input type="text" name="accountId" value="{{authAccount.accountId}}" class="form-control" readonly></div>
	</div>
	<div class="form-group form-inline">
		<label class="col-sm-4 control-label"><span class="required">*</span>用户账号：</label>
		<div class="col-sm-8"><input type="text" name="loginAccount" value="{{authAccount.loginAccount}}" class="form-control" required maxlength="32"></div>
	</div>
</div>

<div th:fragment="editPassword" th:replace="common/fragment::modalTemplate('editPassword', '修改用户密码', '')">
	<div class="form-group form-inline">
		<label class="col-sm-4 control-label">用户ID：</label>
		<div class="col-sm-8"><input type="text" name="userId" value="{{authUser.userId}}" class="form-control" readonly></div>
	</div>
	<div class="form-group form-inline">
		<label class="col-sm-4 control-label">用户名称：</label>
		<div class="col-sm-8"><input type="text" value="{{authUser.userName}}" class="form-control" readonly></div>
	</div>
	<div class="form-group form-inline">
		<label class="col-sm-4 control-label"><span class="required">*</span>用户密码：</label>
		<div class="col-sm-8"><input type="text" name="userPassword" class="form-control" required maxlength="32"></div>
	</div>
	<div class="form-group form-inline">
		<label class="col-sm-4"></label>
		<span class="col-sm-8 label label-default">密码最少八位且包含字母和数字</span>
	</div>
</div>

<div th:fragment="delete" th:replace="common/fragment::modal('delete', '确认删除', '')">
	<div class="form-group form-inline" style="text-align:center;">
		<div class="col-sm-12" style="color:red">请确保用户：<span id="showUserName"></span>没有被使用</div>
	</div>
	<div class="form-group form-inline">
		<label class="col-sm-4 control-label"><span class="required">*</span>用户名称：</label>
		<div class="col-sm-8"><input type="text" class="form-control" id="deleteUserName" maxlength="32"></div>
	</div>
</div>


</div>

</body>
</html>

