html{
    font-size: 16px;
}

.required {color:red}

.sorting, .sorting-asc, .sorting-desc {cursor:pointer}
.sorting > .fa:after {content:"\f07d";}
.sorting-asc > .fa:after {content:"\f160";}
.sorting-desc > .fa:after {content:"\f161";}

.w-id {min-width:4.375rem}
.w-date {min-width:6.875rem}
.w-time {min-width:10.625rem}
.w-action {min-width:17.5rem}
.w-title {min-width:9.375rem}
.w-number {min-width:4.375rem}

