<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment::common"/>
<link th:replace="auth/authFragment::treeview"/>
<link th:replace="auth/authFragment::typeahead"/>

<script type="text/javascript" th:src="@{/static/auth/console/res.js?v1}"></script>

<script type="text/javascript" th:inline="javascript">
var res = [[${res}]];
</script>


<style type="text/css">
.fa-folder {color:rgb(242, 221, 122)}
.fa-file {color:black;}
.fa-cogs {color:green}
#uri .list-group-item {background-color: #428bca;}
#tree .list-group-item, #uri .list-group-item {padding:3px 8px}
.indeterminate {color:blue;}
</style>

</head>
<body>

<div style="margin:10px" >
<div id="tree" style="float:left"></div>
<div id="uri" style="width: 420px;float:left;display: none;">	
<ul class="list-group" id="uriList" style="margin-top:-10px">
	<li class="list-group-item" style="color:white">
		<a href="#this" id="addChildId" onclick="addChild()" style="color:white">[新增子节点]</a>&nbsp;
		<a href="#this" class="operatorNode" onclick="editNode(this)" style="color:white">[修改]</a>&nbsp;
		<a href="#this" class="operatorNode" onclick="removeNode()" style="color:white">[删除]</a>&nbsp;
		<a href="#this" class="operatorNode" onclick="addUri()" style="color:white">[添加URI]</a>&nbsp;&nbsp;
		|&nbsp;&nbsp;
		<a href="#this" title="同级置顶" class="fa fa-step-backward" onclick="move.topNode()" style="transform: rotate(90deg);color:white"></a>&nbsp;
		<a href="#this" title="同级上移" class="fa fa-arrow-up" onclick="move.upNode()" style="color:white"></a>&nbsp;
		<a href="#this" title="同级下移" class="fa fa-arrow-down" onclick="move.downNode()" style="color:white"></a>	
	</li>
</ul>
<script id="uriListTemplate" type="text/html">
{{each list as v i}}
<li class="list-group-item" style="background-color: white;" data-uri="{{v.uri_text}}">
	<span title="{{v.uri_text}}({{v.uri_seq}})" style="width:355px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
	{{v.uri_text}}({{v.uri_seq}})
	</span>
	{{if v.is_menu == 1}}菜单URI{{/if}}
	{{if v.is_menu == 0}}<a href="#this" data-uri="{{v.uri_text}}" data-uri-index="{{v.uri_seq}}" class="fa fa-minus" onclick="removeUri(this)"></a>{{/if}}
</li>
{{/each}}
</script>		

</div>
</div>

<div th:fragment="addChild" th:replace="common/fragment::modal('addChild', '添加子节点',  '')">
	<div class="form-group form-inline">
		<label class="col-3">节点类型</label>
		<div class="col-9">
			<select id="addNodeType" class="form-control" onchange="noteTypeChange(this.value)"  style="width:320px">
	      		<option value="0">目录</option><option value="1">菜单</option><option value="2">操作</option>
	 		</select>
	 	</div>
	</div>	
	<div class="form-group form-inline">
		<label class="col-3"><i class="required">*</i>名称&nbsp;<i id="nodeGlyphicon"></i></label>
		<div class="col-9">
			<input type="text" id="addNodeName" class="form-control" name="resName" required placeholder="请输入名称" maxlength="10" style="width:320px">
		</div>
	</div>	
	<div class="form-group form-inline" id="addMenuUriDiv">
		<label class="col-3"><i class="required">*</i>菜单URI</label>
		<div class="col-9">
			<input type="text" id="addMenuUri" class="form-control" name="menuUri" required placeholder="请输入菜单URI" maxlength="64" style="width:320px">
		</div>
	</div>	
</div>

<div th:fragment="editNode" th:replace="common/fragment::modal('editNode', '修改节点', '')">
	<div class="form-group form-inline">
		<label class="col-3"><i class="required">*</i>名称&nbsp;&nbsp;<i id="updateNodeGlyphicon"></i></label>
		<div class="col-9">
			<input type="text" id="updateNodeName" class="form-control" name="resName" required maxlength="10" style="width:320px">
		</div>
	</div>
	<div class="form-group form-inline" id="editMenuUriDiv">
		<label class="col-3"><i class="required">*</i>菜单URI</label>
		<div class="col-9">
			<input type="text" id="editMenuUri" class="form-control" name="menuUri" required placeholder="请输入菜单URI" maxlength="64" style="width:320px">
		</div>
	</div>
</div>

<div th:fragment="addUri" th:replace="common/fragment::modal('addUri', '添加Uri', '')">	
	<ul class="list-group" id="uriUl"></ul>	
	<div style="margin-left:20px;">提示:/*所有权限；/auto/*以/auto/开头权限；/auto/test/*以/auto/test/*开头权限</div>	
</div>


</body>
</html>
