<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:replace="common/fragment::common"/>
<link th:replace="monitor/monitorFragment::monitor"/>


<script type="text/javascript" th:inline="javascript">
var controllerPath = contextPath + "auto/monitor/";
$(function() {
	$("#pageDiv").page({url:controllerPath + "listAllService", data:[[${list}]]});
});


function toTop(serviceId) {	
	var a = [serviceId];
	$("[name=serviceId]").each(function(){
		if (serviceId != $(this).text()) {
			a.push($(this).text());
		}
	});
	toOrder(a);
}

function toUp(n) {
	var a = [];
	$("[name=serviceId]").each(function(){		
		a.push($(this).text());		
	});
	var upServiceId = a[n];
	var targetUpServiceId = a[n - 1];
	// 交换
	a[n] = targetUpServiceId;
	a[n - 1] = upServiceId;
	toOrder(a);
}

function toDown(n) {
	var a = [];
	$("[name=serviceId]").each(function(){		
		a.push($(this).text());		
	});
	var downServiceId = a[n];
	var targetDownServiceId = a[n + 1];
	// 交换
	a[n] = targetDownServiceId;
	a[n + 1] = downServiceId;
	toOrder(a);
}

function toOrder(a) {
	$('#loading').modal('show');
	$.post([[@{/monitorConf/orderService}]], "serviceIds=" + a, function(d){
		refreshPage(d);
		$('#loading').modal('hide');
	});
}

function display(serviceId, display) {
	showLoading();
	$.post([[@{/monitorConf/display}]], "serviceId=" + serviceId + "&display=" + display, function(data){
		refreshPage(data);
		hideLoading();
	});
}
</script>
</head>

<body>
<div class="container">

<div th:replace="monitor/monitorFragment::nav('service')"></div>

<div id="pageDiv" th:include="common/fragment::page('')">
	<div th:fragment="query">
		<label>服务：</label>
		<input type="text" class="form-control" name="testName">
		<button type="button" class="btn btn-default btn-sm"><i class="fa fa-search"></i>搜索</button>
	</div>
	<table th:fragment="list">
		<thead>
		<tr class="thead-light">
			<th class="w-id">服务</th>
			<th class="w-id">项目</th>
			<th class="w-id">版本</th>
			<th class="w-id">操作系统</th>
			<th class="w-id">CPU核数</th>
			<th class="w-id">物理内存</th>
			<th class="w-id">最大堆内存</th>
			<th class="w-id">DB最大连接数</th>
			<th class="w-id">更新时间</th>
			<th class="w-id">显示/隐藏</th>
			<th class="w-id">排序</th>
			<th class="w-id">操作</th>
		</tr>
		</thead>
		<tbody></tbody>
	</table>
	<table>
		<tr th:fragment="template">
			<td>{{v.serviceId}}</td>
			<td>{{v.serviceInfo.artifactId}}</td>
			<td>{{v.serviceInfo.version}}</td>
			<td>{{v.serviceInfo.osName}}</td>
			<td>{{v.serviceInfo.availableProcessors}}</td>
			<td>{{v.serviceInfo.totalPhysicalMemory}}M</td>
			<td>{{v.serviceInfo.maxMemory}}M</td>
			<td>{{v.serviceInfo.maxActive}}</td>
			<td>{{v.serviceInfo.modified}}</td>
			<td>
				{{if v.serviceDisplay == 1}}显示{{else}}隐藏{{/if}}
				<a class="glyphicon glyphicon-retweet" title="转换" href="#" onclick="display('{{v._id}}', {{if v.serviceDisplay == 1}}0{{else}}1{{/if}})"></a>
			</td>
			<td>
				{{if arrayList.length != 1 && true}} 
				xxxxxxxxxxxxxx
				{{/if}}					
			</td>
			<td><a href="#" data-content="{{transfer(v)}}" onclick="viewDetail(this)">详情</a></td>
		</tr>
	</table>
</div>

<div th:replace="monitor/monitorFragment::viewDetail"></div>


</div>
</body>
</html>





