<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:replace="common/fragment::common"/>
<link th:replace="monitor/monitorFragment::monitor"/>

<script type="text/javascript" th:inline="javascript">
var controllerPath = contextPath + "auto/monitorView/";
$(function() {
	$("#pageDiv").page({url:controllerPath + "listStartup", data:[[${list}]]});
});



</script>
</head>

<body>
<div class="container">


<div th:replace="monitor/monitorFragment::nav('startup')"></div>

<div id="pageDiv" th:include="common/fragment::page('')">
	<div th:fragment="query">
		<label>服务:</label>
		<select class="form-control input-sm" name="serviceId">
			<option value="">全部</option>
			<option th:value="${item.serviceId}" th:text="${item.serviceId}" th:each="item:${listService}"></option>
		</select>
		<button type="button" class="btn btn-default btn-sm"><i class="fa fa-search"></i>搜索</button>
	</div>
	<table th:fragment="list">
		<thead class="thead-light">
		<tr>
			<th class="w-id">服务</th>
			<th class="w-id">项目</th>
			<th class="w-id">版本</th>
			<th class="w-id">启动时间</th>
			<th class="w-id">启动用时ms</th>
			<th class="w-id">服务个数</th>
			<th class="w-id">bean个数</th>
			<th class="w-id">操作</th>
		</tr>
		</thead>
		<tbody></tbody>
	</table>
	<table>
		<tr th:fragment="template">
			<td>{{v.serviceId}}</td>
			<td>{{v.startupInfo.artifactId}}</td>
			<td>{{v.startupInfo.version}}</td>
			<td>{{v.startupTime}}</td>
			<td>{{v.startupInfo.jvmSpendTime}}</td>
			<td>{{v.startupInfo.handlerMethodsSize}}</td>
			<td>{{v.startupInfo.beanDefinitionCount}}</td>
			<td>
				<a href="#" data-content="{{transfer(v)}}" onclick="viewDetail(this)">详情</a>
			</td>
		</tr>
	</table>
</div>

<div th:replace="monitor/monitorFragment::viewDetail"></div>

</div>
</body>
</html>

