<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:replace="common/fragment::common"/>
<link th:replace="monitor/monitorFragment::monitor"/>

<script type="text/javascript" th:inline="javascript">
var controllerPath = contextPath + "auto/monitor/";
$(function() {
	$("#pageDiv").page({url:controllerPath + "listStatUri", data:[[${list}]]});
});



</script>
</head>

<body>
<div class="container">


<div th:replace="monitor/monitorFragment::nav('statUri')"></div>

<div id="pageDiv" th:include="common/fragment::page('')">
	<div th:fragment="query">
		<label>服务：</label>
		<input type="text" class="form-control" name="sid">
		<button type="button" class="btn btn-default btn-sm"><i class="fa fa-search"></i>搜索</button>
	</div>
	<table th:fragment="list">
		<thead class="thead-light">
		<tr>
			<th class="w-id">URI</th>
			<th class="w-id">平均响应ms</th>
			<th class="w-id">次数</th>
			<th class="w-id">总时间ms</th>
			<th class="w-id">最慢用时ms</th>
			<th class="w-id">最初访问时间</th>
			<th class="w-id">最后访问时间</th>
			<th class="w-id">[~10,~100,~1s,~3s,~10s,~]</th>
			<th class="w-id">操作</th>
		</tr>
		</thead>
		<tbody></tbody>
	</table>
	<table>
		<tr th:fragment="template">
			<td>{{v.uriText}}</td>
			<td>{{v.avgTime}}</td>
			<td>{{v.times}}</td>
			<td>{{v.totalTime}}</td>
			<td>{{v.maxTime}}</td>
			<td>{{v.firsted}}</td>
			<td>{{v.lasted}}</td>
			<td>{{v.distribute}}</td>
			<td>
				<a href="#" data-content="{{transfer(v)}}" onclick="viewDetail(this)">详情</a>
			</td>
		</tr>
	</table>
</div>

<div th:replace="monitor/monitorFragment::viewDetail"></div>

</div>
</body>
</html>

