<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:replace="common/fragment::common"/>
<link th:replace="monitor/monitorFragment::monitor"/>

<script type="text/javascript" th:inline="javascript">
var controllerPath = contextPath + "auto/monitorView/";
$(function() {
	$("#pageDiv").page({url:controllerPath + "listGather", data:[[${list}]]});
});


</script>
</head>

<body>
<div class="container">


<div th:replace="monitor/monitorFragment::nav('gather')"></div>

<div id="pageDiv" th:include="common/fragment::page('')">
	<div th:fragment="query">
		<label>服务：</label>
		<input type="text" class="form-control" name="sid">
		<button type="button" class="btn btn-default btn-sm"><i class="fa fa-search"></i>搜索</button>
	</div>
	<table th:fragment="list">
		<thead class="thead-light">
		<tr>
			<th class="w-id">服务</th>
			<th class="w-id">采集时间</th>
			<th class="w-id">最大请求时间</th>
			<th class="w-id">并发数</th>
			<th class="w-id">DB连接数</th>
			<th class="w-id">已用堆内存</th>
			<th class="w-id">堆内存占比</th>
			<th class="w-id">进程CPU使用率</th>
			<th class="w-id">over(cpu,mem,time)</th>
			<th class="w-id">操作</th>
		</tr>
		</thead>
		<tbody></tbody>
	</table>
	<table>
		<tr th:fragment="template">
			<td>{{v.sid}}</td>
			<td>{{v.created}}</td>
			<td>{{v.requestInfo.maxProcessingTime}}</td>
			<td>{{v.requestInfo.concurrentN}}</td>
			<td>{{v.dsActive}}</td>
			<td>{{v.uMem}}M</td>
			<td>{{(v.uMem*100/v.mMem).toFixed(2)}}%</td>
			<td>{{(v.pCpuLoad*100).toFixed(2)}}%</td>
			<td>{{v.isOver}}</td>
			<td>
				<a href="#" data-content="{{transfer(v)}}" onclick="viewDetail(this)">详情</a>
			</td>
		</tr>
	</table>
</div>

<div th:replace="monitor/monitorFragment::viewDetail"></div>

</div>
</body>
</html>

