<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:replace="common/fragment::common"/>


<script type="text/javascript" th:inline="javascript">
var controllerPath = contextPath + "auto/test/";
var EXIST_MSG = "XXX已经存在";
$(function() {
	$("#pageDiv").page({url:controllerPath + "list", data:[[${list}]]});
});
</script>
</head>

<body>
<div class="container">

<div id="pageDiv" th:include="common/fragment::page('基本信息')">
	<div th:fragment="query">
		<button type="button" class="btn btn-success btn-sm" onclick="add()">新增</button>
		<label>名称：</label>
		<input type="text" class="form-control" name="testName">
		<button type="button" class="btn btn-default btn-sm"><i class="fa fa-search"></i>搜索</button>
	</div>
	<table th:fragment="list">
		<tr class="thead-light">
			<th class="w-id">service_id</th>
			<th class="w-title">类型</th>
			<th class="w-id">核数</th>
			<th class="w-id">内存</th>
			<th class="w-id">可用内存</th>
			<th class="w-id">数据库最大连接</th>
			<th class="w-action">操作</th>
		</tr>
		<tr style="display:none">
			<td>{{v.service_id}}</td>
			<td>{{v.type}}</td>
			<td>{{v.availableProcessors}}</td>
			<td>{{v.totalPhysicalMemory}}M</td>
			<td>{{v.freePhysicalMemory}}M</td>
			<td>{{v.maxActive}}</td>
			<td>
				<a href="#" onclick="remove('{{v.testId}}')">[删除]</a>
				<a href="#" onclick="edit('{{v.testId}}')">[修改]</a>
			</td>
		</tr>
	</table>
</div>



</div>
</body>
</html>

