<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link th:replace="common/fragment::common"/>


<script type="text/javascript" th:inline="javascript">

var controllerPath = contextPath + "auto/test/";
var EXIST_MSG = "XXX已经存在";
$(function() {
	$("#pageDiv").page({url:controllerPath + "list", data:[[${list}]]});
	
});
</script>
</head>

<body>
<div class="container">

<div id="pageDiv" th:include="common/fragment::page('基本信息')">
	<div th:fragment="query">
		<button type="button" class="btn btn-success btn-sm" onclick="add()">新增</button>
		<label>名称：</label>
		<input type="text" class="form-control" name="testName">
		<button type="button" class="btn btn-default btn-sm"><i class="fa fa-search"></i>搜索</button>
	</div>
	<table th:fragment="list">
		<tr class="thead-light">
			<th class="w-id">序号</th>
			<th class="w-id sorting-desc" data-order-name="t.test_id">ID</th>
			<th class="w-title">SQL_ID</th>
			<th class="w-id" data-order-name="t.test_name">出参</th>
			<th class="w-date">入参</th>
			<th class="w-time">创建时间</th>
			<th class="w-time">function</th>
			<th class="w-action">操作</th>
		</tr>
		<tr style="display:none">
			<td>{{i+1}}</td>
			<td>{{v.testId}}</td>
			<td>{{v.testName}}</td>
			<td>{{v.testName}}</td>
			<td>{{v.testDate}}</td>
			<td>{{v.testTime}}</td>
			<td>{{v.testValue}}</td>
			<td>
				<a href="#" onclick="remove('{{v.testId}}')">[删除]</a>
				<a href="#" onclick="edit('{{v.testId}}')">[修改]</a>
			</td>
		</tr>
	</table>
</div>

<div th:fragment="add" th:replace="common/fragment::modal('add', '新增', '')">
	<div class="form-group form-inline">
		<label class="col-4"><i class="required">*</i>testName：</label>
		<div class="col-7"><input type="text" name="testName" class="form-control" required maxlength="16"></div>
	</div>
	<div class="form-group form-inline">
		<label class="col-4"><i class="required">*</i>testValue：</label>
		<div class="col-7"><input type="text" name="testValue" class="form-control" required number=true maxlength="7"></div>
	</div>	
	<div class="form-group form-inline">
		<label class="col-4"><i class="required">*</i>testDate：</label>
		<div class="col-7"><input type="text" name="testDate" class="form-control" onclick="WdatePicker()"></div>
	</div>
</div>


<div th:fragment="edit" th:replace="common/fragment::modalTemplate('edit', '修改', '')">
	<input type="hidden" name="testId" value="{{test.testId}}">
	<div class="form-group form-inline">
		<label class="col-4"><i class="required">*</i>testName：</label>
		<div class="col-7"><input type="text" name="testName" class="form-control" required maxlength="16" value="{{test.testName}}"></div>
	</div>
	<div class="form-group form-inline">
		<label class="col-4"><i class="required">*</i>testNumber：</label>
		<div class="col-7"><input type="text" name="testValue" class="form-control" required number=true maxlength="7" value="{{test.testValue}}"></div>
	</div>	
	<div class="form-group form-inline">
		<label class="col-4"><i class="required">*</i>testDate：</label>
		<div class="col-7"><input type="text" name="testDate" class="form-control" onclick="WdatePicker()"></div>
	</div>
</div>

</div>
</body>
</html>

