<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:replace="common/fragment::common"/>


<script type="text/javascript" th:inline="javascript">
var controllerPath = contextPath + "auto/configSet/";
$(function() {
	$("#pageDiv").page({url:controllerPath + "list", data:[[${list}]]});
});

</script>
</head>

<body>
<div class="container-fluid">

<div id="pageDiv" th:include="common/fragment::page('配置信息')">
	<div th:fragment="query">
	</div>
	<table th:fragment="list">
		<thead class="thead-light">
		<tr>
			<th class="w-id">config_name</th>
			<th class="w-id">artifact_id</th>
			<th class="w-id">config_value</th>
			<th class="w-id">config_desc</th>
			<th class="w-action">操作</th>
		</tr>
		</thead>
		<tbody></tbody>
	</table>
	<table>
		<tr th:fragment="template">
			<td>{{v.configName}}</td>
			<td>{{v.artifactId}}</td>
			<td>{{v.configValue}}</td>
			<td>{{v.configDesc}}</td>
			<td>
				<a href="#this" onclick="view('{{v.configName}}')">[查看]</a>
				<a href="#this" onclick="edit('{{v.configName}}', getCallback)">[修改]</a>
			</td>
		</tr>
	</table>
</div>

<div th:fragment="add" th:replace="common/fragment::modal('add', '新增', '')">
	<div class="form-group form-inline">
		<label class="col-4"><i class="required">*</i>测试名称：</label>
		<div class="col-8"><input type="text" name="testName" class="form-control" required maxlength="16"></div>
	</div>
	<div class="form-group form-inline">
		<label class="col-4"><i class="required">*</i>测试值：</label>
		<div class="col-8"><input type="text" name="testValue" class="form-control" required number=true maxlength="7"></div>
	</div>
	<div class="form-group form-inline">
		<label class="col-4"><i class="required">*</i>测试类型：</label>
		<div class="col-8">
			<select class="form-control input-sm" name="testType" required>
			<option value="">请选择</option>
			<option th:each="item:${listType}" th:value="${item.typeId}" th:text="${item.typeName}"></option>
			</select>
		</div>
	</div>
	<div class="form-group form-inline">
		<label class="col-4"><i class="required">*</i>测试日期：</label>
		<div class="col-8"><input type="text" name="testDate" class="form-control" required onclick="WdatePicker()"></div>
	</div>
</div>

<div th:fragment="edit" th:replace="common/fragment::modalTemplate('edit', '修改', '')">
	<input type="hidden" name="testId" value="{{pojo.testId}}">
	<div class="form-group form-inline">
		<label class="col-4"><i class="required">*</i>测试名称：</label>
		<div class="col-8"><input type="text" name="testName" class="form-control" required maxlength="16" value="{{pojo.testName}}"></div>
	</div>
	<div class="form-group form-inline">
		<label class="col-4"><i class="required">*</i>测试值：</label>
		<div class="col-8"><input type="text" name="testValue" class="form-control" required number=true maxlength="7" value="{{pojo.testValue}}"></div>
	</div>
	<div class="form-group form-inline">
		<label class="col-4"><i class="required">*</i>测试类型：</label>
		<div class="col-8">
			<select id="editTestType" class="form-control input-sm" name="testType" required>
			<option value="">请选择</option>
			<option th:each="item:${listType}" th:value="${item.typeId}" th:text="${item.typeName}"></option>
			</select>
		</div>
	</div>
	<div class="form-group form-inline">
		<label class="col-4"><i class="required">*</i>测试日期：</label>
		<div class="col-8"><input type="text" name="testDate" class="form-control" onclick="WdatePicker()" value="{{pojo.testDate}}"></div>
	</div>
</div>

</div>
</body>
</html>

